/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* ------ global ------ */

html{
  /* height: -webkit-fill-available; */
}
body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  /* overflow-x: hidden;  */
   /* mobile viewport bug fix */
  /* min-height: -webkit-fill-available; */
}

ul {
  list-style-type: none;
  padding: 0;
}

.btn {
  background-color: black;
  color: white;
  border: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-right: 0px;
}

.page-title {
  font-family: 'Inter', sans-serif;
  color: black;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  
}

.dropdown-item:hover{
  cursor: pointer;

}

i{
  font-style: normal;
}

.nav-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-username {
  color: black;
  margin-right: 10px;
}

.nav-username:hover {
  color: grey;
  cursor: pointer;
}

/* profile modal */
.profile-stat-name {
  font-size: 10px;
  color: black;
}

.profile-stat {
  font-weight: 500;
  color: black;
}

/* button to open sidebar */
.openbtn {
  margin-left: 20px;
  top: 20px;
  z-index: 1;
  font-size: 20px;
  position: absolute;
  background-color: grey;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: 0.1s;
}

.openbtn:hover {
  background-color: #444;
}

.pushedbtn {
  transition: 0.1s;
}

/* sidebar */
.open-sidebar {
  background: #F5F5F5;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: gainsboro;
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  position: absolute;
  /* Stay in place */
  z-index: 1;
  left: 0;
  /* overflow-x: hidden; Disable horizontal scroll */
  padding-top: 30px;
  /* Place content 60px from the top */
  transition: 0.1s;
  /* padding-right:20px */
}

.closed-sidebar {
  background: #F5F5F5;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: gainsboro;
  /* height: 100%; */
  width: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  padding-top: 30px;
  transition: 0.1s;
}

.sidebar-options-list {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.sidebar-options-list button {
  background-color: #F5F5F5;
  color: black;
}

.sidebar-options-list button:hover {
  color: white;
  text-decoration: none;
  background-color: grey;
  ;
}

.sidebar-lists {
  overflow: scroll;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-options {
  color: gray;
}

.list-options:hover {
  cursor: pointer;
  color: black
}

/* the individual user's lists */
.userlist {
  margin-top: 8px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userlist:hover {
  color: grey;
  cursor: pointer;
}

/* map */
.google-map {
  height: 100vh;
  width: 100vw;
}

/* venue cards */
.map-venue-cards {   /* this is the set of cards */
  width: 100%;
  overflow-x: scroll;
  position: absolute;
  scroll-snap-type: x mandatory;
  scroll-padding: 75%;
}

.venue-card {
  height: 150px;
  cursor: pointer;
}

.selected-card {
  border: solid;
  border-color: #e4324c;
}

.pushedcards {
  transition: 0.1s;
}

/* validation  */
/* validation snackbar after user adds to list */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

#deleteSuccessSnackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#deleteSuccessSnackbar.show {
  visibility: visible;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#venueRemovedSuccessSnackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: grey;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#venueRemovedSuccessSnackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* ***** VENUE PAGE ***** */
/* venue-pages */
.info-section {
  display: flex;
  justify-content: center;
}

.venue-details {
  margin-left: 20px;
}

.venue-website {
  font-size: 12px;
}

.modal-title{
  font-size: 20px;
}

.subtitle{
  font-size: 15px;
}
.body-text {
  font-size: 14px;
}

/* ***** ADD VENUE PAGE ***** */

.newVenueAdd {
  margin: 10px;
  min-height: 41px;
  box-shadow: none;
  border-color: #e6e6e6;
  width: 500px;
}

#addMap {
  height: 400px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#description-box {
  height: 150px;
  width: 200px;
}

/* search functionality */

.search-results {
  position: absolute;
  background-color: white;
  border-left: lightgrey;
  border-left-style: solid;
  border-left-width: .25px;
  border-right: lightgrey;
  border-right-style: solid;
  border-right-width: .25px;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: .25px;
  z-index: 1;
}

.searchBar {
  margin-left: 10px;
  min-height: 41px;
  box-shadow: none;
  border-color: #e6e6e6;
  width: 500px;
}

.search-list-item {
  
}

.search-list-item:hover {
  cursor: pointer;
  color: white;
  background-color: grey;
}

/* ------ phone portrait ------ */

@media (min-width: 0px) {

  /* nav */
  .page-title {
    font-size: 38px;
  }

  .navbar {
    flex-direction: column;
    padding: 0rem 0rem;
  }

  .search-bar {
    width: 21rem;
  }

  .search-results {
    margin-top: 38px;
    margin-left: 53px;
    width: 15rem;
    z-index: 1;
  }

  .search-list-item {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 3px
  }

  .google-map{
    height: 535px;
  }

  /* sidebar */
  .open-sidebar {
    width: 187px;
    height: 535px;
  }

  .pushedbtn {
    margin-left: 207px;
  }

  .pushedcards {
    margin-left: 190px;
    width: 200px;
  }

  .map-venue-cards {
    top: 540px;
    left: 20px;
  }

  .venue-card {
    height: 130px;
    cursor: pointer;
  }

  .venue-name {
    font-size: 17px;
  }

  .venue-address{
    font-size: 14px
  }

}

/* tablet */
@media (min-width: 768px){

  /* layout */
  /* nav */
  .page-title {
    font-size: 60px;
    color: red
  }

  .navbar {
    flex-direction: column
  }

  .search-bar {
    width: 40rem;
  }

  .search-results{
    z-index: 1;
  }

  .search-list-item {
    font-size: 16px;
    padding: 6px;
  }

  /* sidebar */
  .open-sidebar {
    width: 187px;
  }

  .pushedbtn {
    margin-left: 207px;
  }

  .pushedcards {
    margin-left: 190px;
  }

  .map-venue-cards {
    top: 800px;
    left: 20px;
  }
}


/* desktop */
@media (min-width: 1300px) {

  .page-title {
    font-size: 60px;
    color: blue
  }

  .navbar {
    flex-direction: row
  }

  /* components */
  .search-bar {
    width: 55rem;
  }

  .search-results {
    margin-top: 38px;
    margin-left: 56px;
    width: 49rem;
    z-index: 1;
  }


  /* sidebar */
  .open-sidebar {
    width: 270px;
  }

  .pushedbtn {
    margin-left: 285px;
  }

  .pushedcards {
    margin-left: 230px;
    width: 83%;
  }

  .map-venue-cards {
    top: 575px;
    left: 20px;
  }
}
