
/* ------ global ------ */

html{
  font-size: 10px;
  /* overflow: hidden !important; */
}

body {
  width: 100%;
  /* height: 100%; */
  margin: 0rem;
  padding: 0rem;
  overflow-y: auto;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;

}

ul {
  list-style-type: none;
  padding: 0;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
}

.col-12{
  padding: 0rem;
}
.row {
  margin-right: 0rem;
}

.page-title {
  font-family: 'Inter', sans-serif;
  color: black;
}

.input-group{
  flex-grow: 1;
}
.dropdown-item{
  font-size: 1.5rem;
}

.dropdown-item:hover{
  cursor: pointer;
}


.navbar {
  position: absolute;
  display: flex;
  padding: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav-btn{
  margin:.5rem;
}
i{
  font-style: normal;
}

.nav-button {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.nav-username {
  color: black;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.nav-username:hover {
  color: grey;
  cursor: pointer;
}

#sideNav{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 15rem;
}
#sideNav button {
  display: flex;
    align-items: center;
    transition: 0.3s;
    height: 5rem;
    left: -80px;
    padding: .1rem;
    width: 5rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    border-radius: 30px;
    justify-content: center;
    background-color: white;
}

#sideNav button:hover{
  cursor: pointer;
  background-color: #444;
  color: white;
}


#sideNav i {
  font-size: 1.9rem;  
}

/* profile modal */
.profile-stat-name {
  font-size: 1rem;
  color: black;
}

.profile-stat {
  font-weight: 50rem;
  color: black;
}

/* button to open sidebar */
.openbtn {
  margin-left: 2rem;
  top: 2rem;
  z-index: 1;
  font-size: 2rem;
  position: absolute;
  background-color: grey;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  transition: 0.1s;
}

.openbtn:hover {
  background-color: #444;
}


.pushedbtn {
  transition: 0.1s;
}

/* sidebar */
.open-sidebar {
  background: #F5F5F5;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: gainsboro;
  height: 100vh;
  width: 25rem;
  position: absolute;
  /* Stay in place */
  z-index: 1;
  left: 0;
  transition: 0.1s;
}

.closed-sidebar {
  background: #F5F5F5;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: gainsboro;
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  padding-top: 3rem;
  /* transition: 0.1s; */
}

.sidebar-options-list {
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

.sidebar-options-list button {
  background-color: #F5F5F5;
  color: black;
}

.sidebar-options-list button:hover {
  color: white;
  text-decoration: none;
  background-color: grey;
  ;
}

.sidebar-lists {
  overflow:  hidden;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.list-options {
  color: gray;
}

.list-options:hover {
  cursor: pointer;
  color: black
}

.close{
  font-size: 2.1rem;
}

.modal-text{
  font-size: 1.5rem;
}

.modal-header{
  border-bottom: 0px;
}

.modal-footer{
  border-top: 0px;
}

/* the individual user's lists */
.userlist {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userlist:hover {
  color: grey;
  cursor: pointer;
}

/* map */
.google-map {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

/* venue cards */
.map-venue-cards {   /* this is the set of cards */
  width: 100%;
  overflow-x: auto;
  position: absolute;
  scroll-snap-type: x mandatory;
  scroll-padding: 75%;
}

.venue-card {
  height: 15rem;
  cursor: pointer;
}

.selected-card {
  border: solid;
  border-color: #e4324c;
}

.pushedcards {
  transition: 0.1s;
}

.card-icon{
  color: lightgrey;
  font-size: 1.3rem;
  padding-left: .1rem;
}

.default-like:hover{
  color: #e4324c;
  transition: 5ms;
}

.liked-venue{
  color: #e4324c;
}


.default-bookmark{
}

.default-bookmark:hover{
  color: black;
  transition: 5ms;
}

.bookmarked-venue{
  color: black;
}

.userlistModal{
  padding: .3rem;
  width: 45rem;
  font-size: 1.5rem;
}

.userlistModal:hover{
  cursor: pointer;
  color: grey;
}

/* validation  */
/* validation snackbar after user adds to list */
#snackbar {
  visibility: hidden;
  min-width: 25rem;
  margin-left: -12.5rem;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: .2rem;
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 3rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 3rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 3rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

#deleteSuccessSnackbar {
  visibility: hidden;
  min-width: 25rem;
  margin-left: -1.25rem;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: .2rem;
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 3rem;
}

#deleteSuccessSnackbar.show {
  visibility: visible;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#venueRemovedSuccessSnackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 25rem;
  /* Set a default minimum width */
  margin-left: -12.5rem;
  /* Divide value of min-width by 2 */
  background-color: grey;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: .2rem;
  /* Rounded borders */
  padding: 1.6rem;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 3rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#venueRemovedSuccessSnackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* ***** VENUE PAGE ***** */
/* venue-pages */
.info-section {
  display: flex;
  justify-content: center;
}

.venue-details {
  margin-left: 2rem;
}

.venue-website {
  font-size: 1.2rem;
}

.modal-title{
  font-size: 2.5rem;
  margin-top: 2rem
}

.subtitle{
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem
}

.body-text {
  font-size: 1.4rem;
}

/* ***** ADD VENUE PAGE ***** */

.newVenueAdd {
  margin: 1rem;
  min-height: 4.1rem;
  box-shadow: none;
  border-color: #e6e6e6;
  width: 50rem;
}

#addMap {
  height: 40rem;
  width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#description-box {
  height: 15rem;
  width: 20rem;
}

/* search functionality */

.form-control{
  font-size: 1.5rem;
  display: flex;
}

.search-results {
 margin-top: 3.1rem;
  z-index: 1;
  position: absolute;
  background-color: white;
  border-left: lightgrey;
  border-left-style: solid;
  border-left-width: .025rem;
  border-right: lightgrey;
  border-right-style: solid;
  border-right-width: .025rem;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: .025rem;
  
}

.searchBar {
  margin-left: 1rem;
  min-height: 4.1rem;
  box-shadow: none;
  border-color: #e6e6e6;
  width: 50rem;
}

.search-list-item{
  font-size: 1.6rem;
}

.search-list-item:hover {
  cursor: pointer;
}

.card-info{
  margin-top: .75rem;
}

.venue-source{
  margin-top: .1rem;
}

/* ------ phone portrait ------ */

@media (min-width: 0px) {

  /* nav */
  .page-title {
    font-size: 3.8rem;
  }

  .navbar {
    flex-direction: column;
  }

  .search-list-item {
    font-size: 1.3rem;
    padding-left: .5rem;
    padding-top: .3rem;
  }

  /* sidebar */
  .open-sidebar {
    width: 18.7rem;
  }

  .sidebar-lists {
    border-top-style: solid;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top-color: lightgrey;
    border-top-width: .1rem;
  }

  .pushedbtn {
    margin-left: 20rem;
  }

  .pushedcards {
    margin-left: 16rem;
    width: 19.2rem;
  }

  .map-venue-cards {
    top: 80rem;
    left: 2rem;
  }

  .venue-card {
    width: 26.5rem;
    height: 14rem;
    cursor: pointer;
  }

  .venue-name {
    font-size: 1.7rem;
  }

  .venue-address{
    font-size: 1.4rem;
    margin-bottom: .75rem;

  }

  .venue-source{
    font-size: 1.2rem;
    color: rgb(167, 168, 171);
  }

}

/* tablet */
@media (min-width: 768px){

  .navbar{
    flex-direction: row;
  }
  /* layout */
  /* nav */
  .page-title {
    font-size: 6rem;
  }



  .search-list-item {
    font-size: 1.7rem;
    padding-left: .5rem;
    padding-top: 1rem;
  
  }

  /* sidebar */
  .open-sidebar {
    width: 25rem;
    /* height: 100%; */
  }

  .pushedbtn {
    margin-left: 26.5rem;
  }

  .pushedcards {
    margin-left: 23rem;
  }

  .map-venue-cards {
    top: 105rem;
    left: 2rem;
  }
}

@media (min-width: 1024px) {
  .map-venue-cards{
    top: 120rem;
  }
}



/* desktop */
@media (min-width: 1300px) {

  .page-title {
    font-size: 6rem;
  }



  /* sidebar */
  .open-sidebar {
    width: 27rem;
  }

  .pushedbtn {
    margin-left: 28.5rem;
  }

  .pushedcards {
    margin-left: 23rem;
    width: 83%;
  }

  .map-venue-cards {
    top: 85rem;
    left: 3rem;
  }
}
