{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testing Land: AJAX</title>

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  </head>
  <body>


    <script>
     $("#id_username").change(function () {
       var username = $(this).val(); //username variable is whatever the value of the user input is

       $.ajax({
         url: '/ajax/validate_username/',
         data: {
           'username': username
         },
         dataType: 'json',
         success: function (data) {
           if (data == 'Rupert') {
             alert("A user with this username already exists.");
            }
            else {
               alert("This username is great!");
              }
           }
       });

     });
 </script>

    <h1> This is Testing Land: AJAX!</h1>
    <p> We are going to learn how to use Ajax!</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit">Sign up</button>
        </form>
  </body>



  <script src="{% static 'testingland/js/ajax.js' %}"></script>
</html>
