<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  </head>
  <body>
{% block content %}
    <script>
    $(document).ready(function(){
      $("#get_loc").click(function(){
        if(navigator.geolocation) {
          //first check if it exists
            console.log("Success")
            navigator.geolocation.getCurrentPosition(getPosition);

           function getPosition(position){
             console.log("Latitude:" + position.coords.latitude + " " + "Longitude:" + position.coords.longitude);
             var user_lat = parseFloat(position.coords.latitude);
             var user_long = parseFloat(position.coords.longitude);
             var user_loc = (user_lat, user_long);
             console.log(user_loc)

             $.ajax({
                 url:'/get_cafes/',
                 type: 'GET',
                 data: {
                   'u_loc': user_loc
                  },
                  //dataType: 'json',
                   success: function(data) {

                     $("#user_l").append(data['Hello']);

                 },
                    error: function(resp) {
                      console.log("Ajax Failed.")
                      console.log(resp)
                 }
               })
      }
          }
              })
                  })


    </script>

    <h1> Hector </h1>
    <p> Taking AJAX to next level </p>
      <button type="submit" id="get_loc" >Get Location</button>
       <h2> User Location </h2>

        <h4 id="user_l"> Location Will Appear Here </h4>
{% endblock %}
  </body>

</html>
