{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>VYGR</title>
    <link rel="icon" type="image/png" href="{% static "testingland/img/favicon_io_vygr/favicon.ico" %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet"> 
    <!-- icons -->
    <script src="https://kit.fontawesome.com/343a7efeab.js" crossorigin="anonymous"></script>


    <!--Bootsrap-->
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Bootstrap responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "testingland/css/electra.css" %}">

    <link href="https://use.typekit.net/zgs1itb.css" rel="stylesheet">

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

  </head>

  <body>
    <div id="nav-bar" class="container-fluid">
    <div class="row">
      <nav class="col-12 navbar navbar-dark sticky-top bg-white border-bottom flex-md-nowrap">
        <a id="nav-title" class="col-lg-1 header" href="/">VYGR</a>
        <div class="col-md-8 input-group">
          <input type="text" class="form-control" placeholder="Search Address..." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="submit" class="btn btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
        <div class="nav-buttons col-md-3">
          
          {% if user.is_authenticated%}
          <a id="username" class="nav-username"> {{ user.get_username }} </a>
          <a class="btn" href="{% url 'logout' %}">Logout</a>
          
                {% else %}
                <a id="login" class="btn" href="{% url 'login' %}"> Login </a>
                {% endif %}
                {% if user.is_authenticated == False %}
                <a id="signup" class="btn" href="{% url 'signup' %}"> Sign Up </a>
                {% endif %}
                <input id="feedback" class="btn" type="button" value="Feedback" />
        </div>
      </nav>
    </div>
    </div>

    {% block content %}
     
      <div class= "container-fluid">
          <div class="row">
          <div id="mySidebar" class="closed-sidebar justify-content-center">
            <div id="index-buttons" class="btn-group-vertical sidebar-group">
              <button id="suggest-place" type="button" class="btn" data-dismiss="modal"><i class="fas fa-map-marker pr-2"></i><span class="item-label">Suggest</span></button>
              <button id="createList" type="button" class="btn" data-dismiss="modal"><i class="far fa-plus-square pr-2"></i><span class="item-label">New List</span></button>
              <button id="area-search" type="button" class="closer-item btn" data-dismiss="modal"><i class="fas fa-search-location pr-2"></i><span class="item-label">Search Area</span></button>
            </div>

            <!-- <div id="filters" class="sidebar-group">
              <div class="dropdown">
                <input id="search-filter" type="text" class="form-control" placeholder="Refine results" aria-label="Refine results" aria-describedby="basic-addon2">
                <ul id="filter-results"></ul>
              </div>
            </div> -->
            
            <div class="sidebar-lists">
              <ul id="userLists" class="list-group-flush">
              </ul>
            </div>
          </div>

          <div id = "main" class="col-12">
              <button class="openbtn" onclick="toggleNav()">&#9776;</button>
            <div id="map">
              

            </div>
          </div>

          <!-- filter cards -->
          <div class="filter-cards row flex-nowrap col-10" id="filterCardList"></div>
          
          <!-- The snackbars -->
          <div id="snackbar">Added To List</div>
          <div id="deleteSuccessSnackbar">List Deleted</div>
          <div id="venueRemovedSuccessSnackbar">Venue Removed</div>


          <!-- map cards -->
          <div class="map-venue-cards row flex-nowrap col-12" id="indexCardList"></div>

        </div>
      </div>

      <div class="modal" id="feedback-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Submit Feedback</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input class="form-control" id="feedback-name" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label>Feedback Type</label>
                  <select class="form-control" id="feedback-type">
                    <option value="bug">Found a Bug</option>
                    <option value="feedback">Feedback</option>
                    <option value="idea">Idea</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                <div class="form-group pt-2">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" id="feedback-description" rows="5" placeholder="Please describe the bug/feedback/idea"></textarea></textarea>
                </div>
                  
              </form>
            </div>
            <div class="modal-footer">
              <button id="submit-feedback" type="button" class="btn">Submit</button>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      

      <div class="modal" id="suggestion-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Suggest A Place</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Your Name</label>
                  <input class="form-control" id="suggestor" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Venue Name</label>
                  <input class="form-control" id="suggestion-name" aria-describedby="emailHelp" placeholder="Venue Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Venue Address</label>
                  <input class="form-control" id="suggestion-address" aria-describedby="emailHelp" placeholder="Venue Address">
                </div>
                <div class="form-group">
                  <label>Venue Type</label>
                  <select class="form-control" id="venue-type">
                    <option value="restaurant">Restaurant</option>
                    <option value="cafe">Cafe</option>
                    <option value="bar">Bar</option>
                    <option value="retail">Retail</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button id="submit-suggestion" type="button" class="btn">Submit</button>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal" id="newlistmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create a New List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleFormControlInput1">Create a New List</label>
                <input type="email" class="form-control" id="newListName" placeholder="New List Name...">
              </div>
            </div>
            <div class="modal-footer">
              <button id="save-list" type="button" class="btn">Save</button>
              <button type="button" class="btn " data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="editListModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="editedListName" id="editListLabel">Edit List</label>
                <input type="email" class="form-control" id="editListName" placeholder="New List Name...">
              </div>
            </div>
            <div class="modal-footer">
              <button id="save-edited-list" type="button" class="btn " data-dismiss="modal">Save</button>
              <button type="button" class="btn " data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="userlist-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="modal-body">
              <div id="lists-column" class="mt-1 ml-2 mb-1 col-2" style="height: 367px;">
                <ul id="userListsModal" class="list-group list-group-flush" style="width: 250px">
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button id="createListModal" type="button" class="btn " data-dismiss="modal">Create List</button>
              <button type="button" class="btn " data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="remove-venue-from-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Remove Venue</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="remove-text"></p>
            </div>
            <div class="modal-footer">
              <button id="remove-venue-button" type="button" class="btn">Remove</button>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex align-items-center">
                <div class="image"> <img src="{% static "testingland/img/mega.png" %}" class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">{{ user.get_username }}</h4> 
                    <div class="p-2 mt-2 bg-white d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="profile-stat-name">Lists</span> <span class="profile-stat">38</span> </div>
                        <div class="d-flex flex-column"> <span class="profile-stat-name">Followers</span> <span class="profile-stat">980</span> </div>
                        <div class="d-flex flex-column"> <span class="profile-stat-name">Following</span> <span class="profile-stat">8.9</span> </div>
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm w-100">Places</button> <button class="btn btn-sm w-100 ml-2">Follow</button> </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

      <div id="edit-profile-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <div class="thumb-lg member-thumb mx-auto"><img src="{% static "testingland/img/rd.jpeg" %}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                  <label for="displayName">Display Name</label>
                  <input type="displayName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Change Display Name">
                  <p>Username: {{ user.get_username }}</p>

                  <label for="exampleFormControlTextarea1">Bio</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                  <label for="location">Location</label>
                  <input type="location" class="form-control" id="user-location" aria-describedby="emailHelp" placeholder="Change Location">
                  <label for="website">Website</label>
                  <input type="location" class="form-control" id="user-website" aria-describedby="emailHelp" placeholder="Add Website">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn">Save changes</button>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static "/testingland/js/index2.js" %}"> </script>
    {% endblock %}
  </body>

</html>
