{% load static %}

<script>

//ajax call for user location - at the moment (14 September) this uses HTML IP Geolocator but it is very inaccurate
//google maps: AIzaSyCaMciXfNXBzO_lPINmrspp4_fZ17RA_Jk


//homepage map

let markers = [];
var marker, i;
var labelIndex = 0;

var locations = [
  {% for cafe in cafes %}
  ['{{ cafe.cafe_name }}', {{ cafe.geolocation.y }}, {{ cafe.geolocation.x }}],
  {% endfor %}
   ];

//adds markers to map
for (i = 0; i < locations.length; i++) {
  marker = new google.maps.Marker({
  position: new google.maps.LatLng(locations[i][1], locations[i][2]),//point,
  map: map,
  animation: google.maps.Animation.DROP
  });
  markers.push(marker);

  function setMapOnAll(map) {
    for (let i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function clearMarkers()
   {
    setMapOnAll(null);
    }

   {
   clearMarkers(null);
   });

  var infowindow = new google.maps.InfoWindow();

  //attaches info to each marker
  marker.addListener("click", (function(marker, i) //=>
    {
    return function() {
      infowindow.setContent(locations[i][0]);
      infowindow.open(map, marker);
    }
  }) (marker, i));
};



	                              }
	                            })
	                            }
	                            // Append the 'script' element to 'head'
	                            document.head.appendChild(script);
	                         };
	                       }
												 })
											 })


    </script>
