{% extends 'testingland/index3.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <!--Bootsrap-->

    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Bootstrap responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login VYGR</title>

  </head>

  {% block content %}

  <body class="login-page container-fluid">
      <div class="row vygr-login">
        <div class="user_card">
          <div class="container-fluid h-100">
            <div class="row h-100">
              <div class="form_container col">
                <form method="post">
                  <div>
                    <h1 class="registration-header">Login</h1>
                  </div>
                  <div id="login-div" class="registration-font-div">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                    <div>
                      Don't have an account? <a href="/signup">Signup Here</a>
                    </div>
                    <div class="mt-4">
                      <div class="links">
                        Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                      </div>
                      <div class="links">
                        <a href="#">Forgot your password?</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              
              <div class="col login-card-image">
              </div>
            </div>


            </div>
          
        </div>
      </div>
  </body>



  {% endblock %}


</html>
