/* ------ global ------ */

html {
  font-size: 10px;
  /* overflow: hidden !important; */
}

body {
  margin: 0rem;
  padding: 0rem;
  overflow: hidden;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
}

.btn {
  border: none;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1.5rem;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.commentSubmitBtn {
  border: none;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1.5rem;
}

.commentSubmitBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.infowindow {
  background-color: white;
  color: black;
  font-weight: 400;
}

.infowindow:hover {
  cursor: pointer;
  color: lightgray;
}

.navbtn {
  border: none;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1.5rem;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
}

.col-12 {
  padding: 0rem;
}
.row {
  margin-right: 0rem;
}

.modal-content {
  border-radius: 0.75rem;
}

.userlist-modal-dialog {
  height: 100%;
}

.userlist-modal-content {
  height: 70%;
}

.userlist-modal-body {
  padding: 0rem;
  overflow-y: scroll;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.page-title {
  font-family: "Inter", sans-serif;
  color: black;
}

.login-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  border-radius: 30px;
  display: flex;
  height: 4rem;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.search-result-box {
  width: 100%;
}

.search-result-box:hover {
  background-color: lightgray;
  cursor: pointer;
}

.dropdown-toggle {
  border-radius: 3rem 0rem 0rem 3rem;
}

.dropdown-item {
  font-size: 1.5rem;
}

.dropdown-item:hover {
  cursor: pointer;
}

.submit-btn {
  display: flex;
  border-radius: 0rem 3rem 3rem 0rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  display: flex;
  padding: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav-btn {
  margin: 0.5rem;
}
i {
  font-style: normal;
}

.nav-button {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.nav-username {
  color: black;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.nav-username:hover {
  color: grey;
  cursor: pointer;
}

.grey-text {
  color: lightgray;
}

.black-text {
  color: black;
}

#sideNav button {
  display: flex;
  align-items: center;
  transition: 0.3s;
  height: 5rem;
  left: -80px;
  padding: 0.1rem;
  width: 5rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  border-radius: 30px;
  justify-content: center;
  background-color: white;
  color: black;
  border-style: none;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#sideNav button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#sideNav i {
  font-size: 1.9rem;
}

.user-list-open{
  background-color: black;
  color: white;
}

/* profile modal */
.profile-stat-name {
  font-size: 1rem;
  color: black;
}

.profile-stat {
  font-weight: 50rem;
  color: black;
}

/* button to open sidebar */
.openbtn {
  margin-left: 2rem;
  top: 2rem;
  z-index: 1;
  font-size: 2rem;
  position: absolute;
  background-color: grey;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  transition: 0.1s;
}

.openbtn:hover {
  background-color: #444;
}

.pushedbtn {
  transition: 0.1s;
}

/* sidebar */

.sidebar-flex {
  display: flex;
}

.open-sidebar {
  background: #fff;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: gainsboro;
  height: 100vh;
  position: absolute;
  /* Stay in place */
  z-index: 1;
  transition: 0.1s;
}

.closed-sidebar {
  width: 0rem;
  position: absolute;
  transition: 0.1s;
}

.sidebar-lists {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar-bottom {
}

.list-details {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.list-options {
  color: gray;
}

.list-options:hover {
  cursor: pointer;
  color: black;
}

.close {
  font-size: 2.5rem;
  color: white;
  opacity: 1;
  text-shadow: 0;
}

.form-control {
  font-size: 1.6rem;
  resize: none;
}

.venue-type-list {
  border: none;
  padding: 0rem;
}
.modal-text {
  font-size: 1.5rem;
}

.modal-header {
  border-bottom: 0px;
  color: black;
}

.modal-header .close {
  margin: 0rem;
  color: black;
}

.modal-footer {
  border-top: 0px;
}

.bookmark-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom-style: dashed;
  border-color: lightgrey;
  border-width: 0.1rem;
  justify-content: flex-start;
}

.bookmark-title {
  font-size: 1.5rem;
}

.list-creator {
  color: gray;
  font-style: italic;
}

/* the individual user's lists */
.userlist {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-bottom-style: solid;
  padding: 1rem;
  border-width: thin;
  border-color: lightgray;
  white-space: nowrap;
}

.userlist:hover {
  color: grey;
  cursor: pointer;
}

/* map */
.google-map {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

/* venue cards */
.map-venue-cards {
  /* this is the set of cards */
  width: 100%;
  overflow-x: auto;
  position: absolute;
  scroll-snap-type: x mandatory;
  scroll-padding: 75%;
}

.venue-card {
  height: 100vh;
}

.selected-card {
  border: solid;
  border-color: #e4324c;
}

.pushedcards {
  transition: 0.1s;
}

.card-icon {
  color: lightgrey;
  font-size: 1.3rem;
  padding-left: 0.1rem;
}

.card-icon:hover {
  cursor: pointer;
}

.default-like:hover {
  cursor: pointer;
  color: #e4324c;
  transition: 0.1s;
}

.liked-venue {
  color: #e4324c;
}

.grey {
  color: lightgrey;
}

.venue-card-container {
  display: flex;
  justify-content: flex-end;
}

.venue-info-card {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  top: 60rem;
  overflow: hidden;
  transition: 0.1s;
}

.height {
  top: 0rem;
}

.default-bookmark:hover {
  color: black;
  transition: 0.1s;
  cursor: pointer;
}

.venue-source .bookmarked-venue {
  color: black;
}

.userlistModal {
  padding: 0.3rem;
  width: 45rem;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userlistModal:hover {
  cursor: pointer;
  color: grey;
}

.shepherd-text {
  font-size: 1.3rem;
}

/* validation  */
/* validation snackbar after user adds to list */
#snackbar {
  visibility: hidden;
  min-width: 25rem;
  margin-left: -12.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 3rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 3rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 3rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

#deleteSuccessSnackbar {
  visibility: hidden;
  min-width: 25rem;
  margin-left: -1.25rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 3rem;
}

#deleteSuccessSnackbar.show {
  visibility: visible;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#venueRemovedSuccessSnackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 25rem;
  /* Set a default minimum width */
  margin-left: -12.5rem;
  /* Divide value of min-width by 2 */
  background-color: black;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 0.2rem;
  /* Rounded borders */
  padding: 1.6rem;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 3rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#venueRemovedSuccessSnackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* ***** VENUE PAGE ***** */
/* venue-pages */
.info-section {
  display: flex;
  justify-content: center;
}

.venue-details {
  margin-left: 2rem;
}

.venue-website {
  font-size: 1.2rem;
}

.modal-title {
  font-size: 2.5rem;
  margin: 1.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.body-text {
  font-size: 1.4rem;
}

.register-prompt {
  margin: 1rem;
  min-height: 4rem;
  font-size: 1.6rem;
  text-align: center;
}

.permission-denied-modal {
  margin: 1rem;
  min-height: 4rem;
  font-size: 1.6rem;
}

/* ***** ADD VENUE PAGE ***** */

.newVenueAdd {
  margin: 1rem;
  min-height: 4rem;
  font-size: 1.6rem;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
}

.newVenueAdd input:focus {
  border: 0.3rem solid black;
}

.newVenueAdd input:active {
  border: none;
  outline: none;
}

#addMap {
  height: 40rem;
  width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#description-box {
  height: 15rem;
  width: 20rem;
  margin-bottom: 1rem;
}

.venuetype {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 4.1rem;
  width: 100%;
}
/* search functionality */

.search-input {
  font-size: 1.6rem;
  display: flex;
  height: 4rem;
}

.search-results {
  --searchBorder: lightgrey solid 0.025rem;
  border-radius: 0rem 0rem 1rem 1rem;
  margin-top: 4rem;
  z-index: 1;
  position: absolute;
  background-color: white;
  border-left: var(--searchBorder);
  border-right: var(--searchBorder);
  border-bottom: var(--searchBorder);
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* .searchBar {
  margin-left: 1rem;
  min-height: 4.1rem;
  box-shadow: none;
  border-color: #e6e6e6;
  width: 50rem;
} */

.search-list-item {
  font-size: 1.6rem;
}

.search-list-item:hover {
  cursor: pointer;
}

.card-info {
  margin-top: 0.75rem;
}

.card-close-div {
  display: flex;
  justify-content: flex-end;
}

.card-close:hover {
  cursor: pointer;
  color: lightgray;
}

.venue-source {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.venue-source:hover {
  cursor: pointer;
  color: black;
}

/* registration */
.registration-frame {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.registration-art {
  background-image: url(/static/testingland/img/vygr-map.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key-value-prop-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  width: 50%;
  height: 50%;
}

.key-value-prop-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-bottom: 1.5rem;
}

.key-value-prop-title h1 {
  font-size: 3rem;
  color: black;
  font-weight: 600;
  text-align: center;
}

.key-value-prop-body {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 1.5rem;
  color: black;
  flex-direction: column;
  font-weight: 300;
  align-content: center;
}

.key-value-prop-body p {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 2rem;
  color: black;
  flex-direction: column;
  font-weight: 300;
  align-content: center;
}

.registration-form {
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
}

.vygr-signup-container {
  display: flex;
  flex-direction: column;
}

.registration-element {
  font-size: 1.6rem;
  text-align: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup input {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  background: transparent;
  border: 0.1rem solid grey;
  outline: none;
  padding: 0.6rem;
  width: 100%;
}

.signup input:active {
  border: none;
  outline: none;
}

.signup input:focus {
  border: 0.3rem solid black;
}

.signup button {
  margin-bottom: 1rem;
  align-items: center;
  padding: 0.3rem;
  border: none;
  font-size: 1.6rem;
  background-color: black;
  color: white;
  border-style: none;
  width: 100%;
}

.signup button:active {
  background-color: white;
  color: black;
}

.signup p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
/* ------ phone portrait ------ */

@media (min-width: 0px) {
  /* registration */

  .login-card-image {
    background: none;
  }

  .login-page {
    background-image: url("/static/testingland/img/vygr-map.png");
    background-size: 50rem;
    background-position: center;
  }

  .registration-art {
    width: 0%;
  }

  .registration-form {
    width: 100%;
  }

  .signup {
    width: 55%;
  }

  /* nav */
  .page-title {
    font-size: 3.8rem;
  }

  .navbar {
    flex-direction: column;
    transition: 0.05s;
  }

  .infowindow {
    margin-bottom: 0.75rem;
    margin-right: 1rem;
  }

  .search-list-item {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
  }

  #sideNav {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 20rem;
    transition: 0.05s;
  }

  .pushedbtn {
    margin-left: 14.5rem;
  }

  /* sidebar */
  .open-sidebar {
    width: 14.5rem;
  }

  .card-close {
    font-size: 3rem;
    color: grey;
  }

  .card-icon {
    font-size: 1.4rem;
  }

  .hide {
    display: none;
  }

  .venue-card {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding: 1rem;
  }

  .avatar {
    vertical-align: middle;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .user-details {
    display: flex;
    flex-direction: row;
  }

  .card-text:last-child {
    margin-bottom: 10rem;
  }

  .comment-submit {
    display: flex;
    padding: 0.5rem;
    background: #efefef;
    flex-direction: row;
    justify-content: flex-end;
    border-top-style: solid;
    border-width: thin;
    border-color: lightgray;
  }

  .user-comment {
    display: flex;
  }

  .venue-paragraph {
    border-bottom: 0.1rem solid lightgray;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .comment-box {
    border: 0.1rem solid lightgrey;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
  }

  .comment-body {
    display: flex;
    flex-direction: column;
  }

  .card-body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .card-title {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  .venue-address {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
  }

  .venue-source {
    font-size: 1.2rem;
    color: rgb(167, 168, 171);
  }

  .card-image {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    justify-content: center;
    height: 31rem;
  }

  .venue-text {
    font-size: 1.24rem;
  }
}

@media (min-width: 600px) {
  .infowindow {
    margin-bottom: 0rem;
    margin-right: 0rem;
  }

  .viewport {
    display: flex;
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: flex-end;
  }
  /* registration */
  .login-card-image {
    background-image: url("/static/testingland/img/vygr-map.png");
    background-size: 50rem;
    border-radius: 0px 30px 30px 0px;
    background-position: center;
  }

  .registration-art {
    width: 50%;
  }

  .key-value-prop-body p {
    font-size: 1.75rem;
  }

  .registration-form {
    width: 50%;
  }

  .errorlist {
    text-align: center;
    color: red;
    margin-top: -1.4rem;
  }

  .login-page {
    background-image: none;
    background-color: #eaeaea;
  }

  .venue-info-card {
    height: 100vh;
    width: 40rem;
    position: absolute;
    z-index: 1;
    transition: 0.2s;
    top: 0rem;
  }

  .venue-text {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.35rem;
  }

  .venue-source {
    margin-left: 1.35rem;
    font-size: 1.35rem;
  }

  .venue-card {
    height: 100vh;
    width: 100%;
  }

  .card-image {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
    justify-content: center;
  }

  .card-close {
    font-size: 3rem;
    color: black;
  }

  #sideNav {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 20rem;
    transition: 0.05s;
  }

  .open-sidebar {
    width: 23rem;
  }

  .pushedbtn {
    margin-left: 25rem;
  }
}

/* tablet */
@media (min-width: 900px) {
  .registration-art {
    width: 60%;
  }

  .registration-form {
    width: 40%;
  }

  .navbar {
    flex-direction: row;
  }
  /* layout */
  /* nav */
  .page-title {
    font-size: 6rem;
  }

  .search-list-item {
    font-size: 1.7rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
  }

  /* sidebar */
  .open-sidebar {
    width: 24rem;
  }

  .venue-info-card {
    height: 100vh;
    width: 50rem;
    position: absolute;
    z-index: 1;
    transition: 0.2s;
    top: 0rem;
  }
}

@media (min-width: 1024px) {
  .map-venue-cards {
    top: 60rem;
  }

  .venue-info-card {
    height: 100vh;
    width: 60rem;
    position: absolute;
    z-index: 1;
    transition: 0.2s;
    top: 0rem;
  }

  .venue-info-card-closed {
    left: 200rem;
  }

  .venue-info-card-open {
    left: 100rem;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .page-title {
    font-size: 6rem;
  }

  .signup {
    width: 50%;
  }

  .pushedcards {
    margin-left: 23rem;
    width: 83%;
  }

  .map-venue-cards {
    top: 60rem;
    left: 3rem;
  }
}

/* registration */

.login-page {
  background-color: #eaeaea;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.login-navbar {
  position: relative;
  flex-grow: 1;
}

.vygr-login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 80vh;
}

.user_card {
  height: 50rem;
  width: 75rem;
  margin-top: auto;
  margin-bottom: auto;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.form_container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}
