/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

body {
  background-color: white;
  color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow: scroll;
}

/* navbar */

#username{
  color: black;
}

#username:hover{
  cursor: pointer;
}

.userlist
.dropdown{
  position: absolute;
}

.button-href {
  color: white !important;
}
/* cards */
.card-btn {
color: #black !important;
text-transform: uppercase;
text-decoration: none;
background:  white;
padding: 4px;
margin: 3px;
border: 2px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
}

.card-btn:hover {
  color: #ffffff !important;
  background: black;
  border-color: black !important;
  transition: all 0.4s ease 0s;
  }

.card {
  margin-top: 30px;
  height: 150px;
  padding-top: 10px;
}

.user-card{
  margin-top: 30px;
  height: 200px;
  padding-top: 10px;
}

#contentPanel {
  height: 500px;
}

.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


.header {
  font-family: 'navigo', sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  color: #0a0204;
  display: block;
  text-decoration: none;
}

.subheader {
  font-family: 'navigo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #0a0204;
  display: block;
  text-decoration: none;
}

.nav-item{
  font-family: Roboto;
  color: #0a0204;
  margin-top: 3px;
  margin-bottom: 3px;
}

.list{
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding-top: 10px;
  position: absolute;
  background-color: white;
  z-index: 1;
  overflow: auto;
  height: 700px;
  width: 330px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.venue-info {
  padding-top: 200px;
  }

#userList {
  color: #d3d3d3;
  padding: 9px 8px 0;
}

#user-lists{
    overflow:scroll; /* something other than visible */
}

#userListsModal{
  overflow:scroll; /* something other than visible */
}



.sidebar-group{
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar-lists{
  overflow: scroll; /* Disable horizontal scroll */
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-options{
  color: gray;
}

.list-options:hover{
  cursor: pointer;
  color:black
}

#venue-name {
  font-family: 'navigo', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #b4b4b4;
  display: block;
  text-decoration: none;
}

.venue-name:hover{
  cursor: pointer;
  color:grey;
}

#venue-address {
  font-family: 'navigo', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #b4b4b4;;
  display: block;
  text-decoration: none;
}

#venue-description {
   padding-top: 1px;
 }
  
#address-search {
  line-height: 25px;
}

#map {
  min-height:100vh;
  width: 100%;
  position: fixed;
}

#dashMap {
  height:100%;
  width: 100%;
}

#venue-page-map{
  height: 300px;
  width: 400px;
}

#venue-page-image{
  height: 400px;
}

#venue-type-div{
  width: 115px;
  background-color: rgba(121, 121, 121, .8);
}

#addMap {
  height:400px;
  width: 400px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 60px;
}

#userLists{
  height:340px;
  overflow: scroll;
}

.userlist {
  cursor: default;
  list-style-type: none;
  margin-top: 8px;
  margin-left: 20px;
}

.userlist:hover{
  color: grey;
  cursor: pointer;
}

.userlistModal {
  cursor: default;
  list-style-type: none;
  margin-top: 8px;
  margin-left: 20px;
}

.userlistModal:hover {
  color: grey;
}

.fas{
  color: grey;
  cursor: pointer;
}

#venue-options:hover{
  cursor:pointer;
}

#options:hover{
  cursor:pointer;
}

.table_data:hover{
  text-decoration: underline;
}

#dashboardTableBody {
  cursor: default;
}

.map-venue-cards{
  width: 100%;
  overflow-x: scroll;
  position: absolute;
  top: 500px;
  scroll-snap-type: mandatory;
  scroll-padding: 50%;
}

.card-block {
  min-height: 100px;
}

#listCafes {
  height:400px;
  width: 400px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.top-nav {
  background-color: #1CB2FF;
}

.registration-template{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  background: #fafafa;
  color: #7d7d7d;
}

.registration-header {
  font-family:"Roboto", "sans-serif";
  font-size:40px;
  color: #ff1d58;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 10px:
}

.form-group {
  top: 120px;
  right: 30%;
  z-index: 5;
  text-align: left;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding: 15px;
}

#submit {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  margin: 10px;
  padding: 4px 15px;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  display: inline-block;
}

.newVenueAdd {
  margin: 10px;
  min-height: 41px;
  box-shadow: none;
  border-color: #e6e6e6;
  width: 500px;
}

.btn-primary {
  background-color: #000000;
  border: none;
  color: white;
  margin: 10px;
  padding: 4px 15px;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  display: inline-block;
}

#scrape {
  background-color: #ff1d58;
  border: none;
  color: white;
  margin: 10px;
  padding: 4px 15px;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  display: inline-block;
}

.form-control {
  min-height: 41px;
  box-shadow: none;
  border-color: #e6e6e6;
}

.form-control:focus {
  border-color: #00c1c0;
}

.form-control, .btn {
      border-radius: 3px;
}

.signup-form {
  width: 425px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin: 0 0 25px;
}

.signup-form form {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.login-form form {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 70px;
}

.login-form .form-group {
  margin-bottom: 20px;
  text-align: center;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form label {
  font-weight: normal;
  font-size: 12px;
}

.signup-form input[type="checkbox"] {
  margin: 2px;
}
.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #ff1d58;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.signup-form .btn:hover, .signup-form .btn:focus {
  background: #E51A4F;
}
.signup-form a {
  color: #00c1c0;
  text-decoration: none;
}
.signup-form a:hover {
  text-decoration: underline;
}

/* inputs for edit venue details page */
.venue-info-form{
  height: 100px;
  width: 600px;
}

#description-box {
  height: 200px;
  width: 450px;
}

#embed-box {
  height: 200px;
  width: 450px;
}

#search-box{

  width: 300px;
}

#search-results {
  position: absolute;
  margin-left: 100px;
  width: 700px;
  background-color: white;
}

.list-item:hover {
  cursor:pointer;
  color: #D4D4D4;
}

#map-canvas {
  width:450px;
  height:340px;
}

#infos {
  position:absolute;
  top:60px;
  left:470px;
  width:300px;
}

#infos .info {
  background-color:#eee;
  padding:15px 25px;
  margin:10px 0;
}

/* connections */
.connection-list {
  background-color: #b4b4b4;
  color: black;
}

.connection-hover:hover{ 
  cursor: pointer;
}

.connection-profile-li {
 padding: 10px;
}

.connection-profile-li:hover {
  cursor: pointer;
  color: #ffffff !important;
  background: black;
  border-color: black !important;
  transition: all 0.4s ease 0s;
  }

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

/* sidebar */

/* The sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  z-index: 1; /* Stay on top */
  display: flex;
 
  background-color: #e0e0e0;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar div {
  flex-direction: column;
}


/* The sidebar links */
.sidebar a {
  color: #818181;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  position: absolute;
  z-index: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media only screen and (max-device-width: 480px) {
  #cardList{
    width: 100%;
    overflow-x: scroll;
    position: absolute;
    top: 400px;
    scroll-snap-type: mandatory;
    scroll-padding: 50%;
  }

  #map {
    min-height: 100vh;
    min-width: 100vh;
  }

  .card {
    margin-top: 30px;
    height: 100px;
    padding: 2px;
  }
  }


  