{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>VYGR</title>
    <!-- <link rel="icon" type="image/png" href="{% static "testingland/img/favicon_io_vygr/favicon.ico" %}">  -->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <!-- icons -->
    <script src="https://kit.fontawesome.com/343a7efeab.js" crossorigin="anonymous"></script>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--Bootsrap-->
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Bootstrap responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "testingland/css/electra.css" %}">

    <link href="https://use.typekit.net/zgs1itb.css" rel="stylesheet">

    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/shepherd.js@5.0.1/dist/js/shepherd.js"></script>

  </head>

  {% block content %}

  <body>
    <div class="container-fluid ">
      {% if cafe %}
         <input id="bookmarked_id" type="hidden" value={{ cafe.id }}>
      {% endif %}
      {% if list %}
         <input id="shared-list-id" type="hidden" value={{ list.id }}>
      {% endif %}
    <nav id="vygr-nav" class="navbar col-12">
      <div class="navbar-brand page-title" href="#" style="color: red;">VYGR</div>
      <div class="search-bar input-group">
        <button id="search-type" class="navbtn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i id="search-type-icon" class="bi bi-geo-alt-fill"></i></button>
        <ul class="dropdown-menu">
          <li><i id="address" class="bi bi-geo-alt-fill dropdown-item"> Address</i></li>
          <li><i id="place" class="bi bi-shop dropdown-item"> Place</i></li>
        </ul>
        <input id="search-box" autocomplete="off" type="text" class="form-control search-input" placeholder="Search Address..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <ul id="search-results" class="search-results input-group"></ul>
        <div class="input-group-append">
          <button id="submit" class="submit-btn navbtn" type="button"><i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div class="nav-button">
        {% if user.is_authenticated %}
        <a id="username" class="nav-username nav-btn"> {{ user.get_username }} </a>
        <a class="btn" href="{% url 'account_logout' %}">Logout</a>
        {% else %}
        <a id="login" class="btn nav-btn" href="{% url 'account_login' %}"> Login </a>
        {% endif %}
        {% if user.is_authenticated == False %}
        <a id="signup" class="btn nav-btn" href="{% url 'account_signup' %}"> Sign Up </a>
        {% endif %}
        <input id="feedback" class="btn nav-btn" type="button" value="Feedback" />
      </div>
    </nav>
  </div>

    
  <div id="vygr-sidebar" class="closed-sidebar">
      <div class="sidebar-lists">
        <ul id="userLists" class=""></ul>
      </div>
  </div>

        <p id="hidden" hidden>Testing</p>
        


        <div class="main col-12">
          <div id="sideNav">
            <button id="add-place" type="button" class="side-tab" data-dismiss="modal"><i class="bi bi-geo-alt-fill"></i></button>
            <button id="createList" type="button" class="side-tab" data-dismiss="modal"><i class="bi bi-plus-circle-fill"></i></button>
            <button id="area-search" type="button" class="side-tab" data-dismiss="modal"><i class="fas fa-search-location"></i></button>
            <button id="user-lists" type="button" class="side-tab" data-name="liked-venues" data-pk="1"><i class="bi bi-bookmarks-fill"></i></button>
        </div>
    
          <!-- <button class="openbtn" onclick="toggleNav()">&#9776;</button> -->

          <div id="map" class="google-map">
          </div>
        </div>

       
        <div class="venue-card-container">
            <!-- map cards -->
          <div class="venue-info-card venue-info-card-closed row flex-nowrap col-12" id="venueCard"></div>
          <!-- The snackbars -->
          <div id="snackbar">Added To List</div>
          <div id="deleteSuccessSnackbar">List Deleted</div>
          <div id="venueRemovedSuccessSnackbar">Venue Removed</div>
        </div>
        

      
      </div>
    </div>

    <div class="modal feedback" id="feedback-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submit Feedback</h5>
            <button type="button" class="close" data-dismiss="feedback-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input class="form-control" id="feedback-name" aria-describedby="emailHelp" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label>Feedback Type</label>
                <select class="form-control" id="feedback-type">
                  <option value="bug">Found a Bug</option>
                  <option value="feedback">Feedback</option>
                  <option value="idea">Idea</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-group pt-2">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="feedback-description" rows="5" placeholder="Please describe the bug/feedback/idea"></textarea></textarea>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button id="submit-feedback" type="button" class="btn">Submit</button>
            <button type="button" class="btn closer" data-dismiss="feedback-modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal" id="add-place-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add a Place</h5>
            <button type="button" class="close" data-dismiss="add-place-modal"" aria-label=" Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post"> {% csrf_token %}
              <ul class="inputList">
                <li>
                  <div class="input-group">
                    <input id="venue-name-box" class="newVenueAdd form-control" type="text" placeholder="Venue Name..." aria-label="Search">
                  </div>
                </li>
                <li>
                  <div class="input-group">
                    <input id="street-address" type="text" class="newVenueAdd form-control" placeholder="Address (Street Address  City/Suburb, State/Province" aria-label="Address..." aria-describedby="basic-addon2">
                  </div>
                <li>
                  <div class="input-group">
                    <div class="newVenueAdd form-control" placeholder="Venue Type...">
                      <select class="form-control venue-type-list" id="venue-type-box">
                        <option>Cafe</option>
                        <option>Restaurant</option>
                        <option>Bar</option>
                        <option>Bakery</option>
                        <option>Takeaway</option>
                        <option>Retail</option>
                        <option>Entertainment</opton>
                        <option>Amenity</opton>
                      </select>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="input-group">
                    <div class=" input-group">
                      <textarea id="description-box" class="newVenueAdd venue-info-form form-control" placeholder="Why would you recommend this place?" aria-label="With textarea"></textarea>
                    </div>
                  </div>
                </li>
                <input id="add" class="btn btn-primary ml-4 mr-1" type="button" value="Add" />
                <button type="button" class="btn closer" data-dismiss="add-place-modal">Close</button>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="modal" id="venueAddedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Venue Added</h5>
            <button type="button" class="close" data-dismiss="newlistmodal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="venueAddedText" class="newVenueAdd"></div>
          </div>
          <div class="modal-footer">
            <button id="takeMeThere" type="button" class="btn">Take Me There</button>
            <button id="closeVenueAddedModal" type="button" class="btn closer" data-dismiss="newlistmodal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="suggestion-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add a Place</h5>
            <button type="button" class="close" data-dismiss="suggestion-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class="modal-text" for="exampleInputEmail1">Venue Name</label>
                <input class="form-control" id="suggestion-name" aria-describedby="emailHelp" placeholder="Venue Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Venue Address</label>
                <input class="form-control" id="suggestion-address" aria-describedby="emailHelp" placeholder="Venue Address">
              </div>
              <div class="form-group">
                <label>Venue Type</label>
                <select class="form-control" id="venue-type">
                  <option value="restaurant">Restaurant</option>
                  <option value="cafe">Cafe</option>
                  <option value="bar">Bar</option>
                  <option value="retail">Retail</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="submit-suggestion" type="button" class="btn">Submit</button>
            <button type="button" class="btn closer" data-dismiss="suggestion-modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="newlistmodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create a New List</h5>
            <button type="button" class="close" data-dismiss="newlistmodal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="email" class="form-control" id="newListName" placeholder="New List Name...">
            </div>
          </div>
          <div class="modal-footer">
            <button id="save-list" type="button" class="btn">Save</button>
            <button type="button" class="btn closer" data-dismiss="newlistmodal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="editListModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit List</h5>
            <button type="button" class="close" data-dismiss="editListModal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="editedListName" id="editListLabel">Edit List</label>
              <input type="email" class="form-control" id="editListName" placeholder="New List Name...">
            </div>
          </div>
          <div class="modal-footer">
            <button id="save-edited-list" type="button" class="btn closer " data-dismiss="editListModal">Save</button>
            <button type="button" class="btn closer" data-dismiss="editListModal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="userlist-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="userlist-modal-dialog modal-dialog" role="document">
        <div class="userlist-modal-content modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel"></h5>
            <button type="button" class="close" data-dismiss="userlist-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="modal-body userlist-modal-body">
            <div id="lists-column">
              <ul id="userListsModal" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button id="createListModal" type="button" class="btn " data-dismiss="modal">Create List</button>
            <button type="button" class="btn closer" data-dismiss="userlist-modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="remove-venue-from-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Remove Venue</h5>
            <button type="button" class="close" data-dismiss="remove-venue-from-list-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="remove-text"></p>
          </div>
          <div class="modal-footer">
            <button id="remove-venue-button" type="button" class="btn">Remove</button>
            <button type="button" class="btn closer" data-dismiss="remove-venue-from-list-modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel"></h5>
            <button type="button" class="close" data-dismiss="profile-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex align-items-center">
              <div class="image"> <img src="{% static "testingland/img/mega.png" %}" class="rounded" width="155"> </div>
              <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{ user.get_username }}</h4>
                <div class="p-2 mt-2 bg-white d-flex justify-content-between rounded text-white stats">
                  <div class="d-flex flex-column"> <span class="profile-stat-name">Lists</span> <span class="profile-stat">38</span> </div>
                  <div class="d-flex flex-column"> <span class="profile-stat-name">Followers</span> <span class="profile-stat">980</span> </div>
                  <div class="d-flex flex-column"> <span class="profile-stat-name">Following</span> <span class="profile-stat">8.9</span> </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm w-100">Places</button> <button class="btn btn-sm w-100 ml-2">Follow</button> </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn closer" data-dismiss="profile-modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="edit-profile-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Profile</h5>
            <button type="button" class="close" data-dismiss="edit-profile-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="thumb-lg member-thumb mx-auto"><img src="{% static "testingland/img/rd.jpeg" %}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                <label for="displayName">Display Name</label>
                <input type="displayName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Change Display Name">
                <p>Username: {{ user.get_username }}</p>

                <label for="exampleFormControlTextarea1">Bio</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                <label for="location">Location</label>
                <input type="location" class="form-control" id="user-location" aria-describedby="emailHelp" placeholder="Change Location">
                <label for="website">Website</label>
                <input type="location" class="form-control" id="user-website" aria-describedby="emailHelp" placeholder="Add Website">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn">Save changes</button>
            <button type="button" class="btn closer" data-dismiss="edit-profile-modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="venue-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="modal-venue-title" class="modal-title ml-2"></h4>
            <button type="button" class="close" data-dismiss="venue-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-white p-2 m-3">
            <div id="photo-section">
              <img id="modal-venue-images" class="img-fluid mx-auto d-block" src="">
            </div>
            <div class="mt-3 mb-2">
              <h5 id="modal-venue-address" class="subtitle text-muted"></h5>
            </div>
            <div>
              <p id="modal-venue-description" class="body-text"></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn closer" data-dismiss="venue-modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal" id="permissionDeniedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Turn On Location Sharing?</h5>
            <button type="button" class="close" data-dismiss="newlistmodal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="venueAddedText" class="permission-denied-modal">
              <p>Looks like location sharing might be switched off on your device.</p>
              <p>Don't worry, it's easily fixed:</p>
              <ol>
                <li>Go to <b>Settings</b></li>
                <li>Tap <b>Privacy</b></li>
                <li>Tap <b>Location Services</b></li>
                <li>Find your browser (eg. Safari or Chrome)</li>
                <li>Change <b>Allow Location Sharing</b> to <b>Ask Me Next Time</b> or <b>Always</b></li>
              </ol>
              <p>Once you're done just click <b>Done</b> below</p>

            </div>
          </div>
          <div class="modal-footer">
            <button id="permissionDeniedModalDenied" type="button" class="btn">Continue without sharing location</button>
            <button id="permissionDeniedModalDone" type="button" class="btn">Done</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="registerModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up or Login</h5>
            <button type="button" class="close" data-dismiss="newlistmodal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="registerText" class="register-prompt">
              
            </div>
          </div>
          <div class="modal-footer">
            <form type="button" action="{% url 'account_signup' %}">   
              <input class="btn"  type="submit" value="Sign Up">
            </form>
            <form  type="button" action="{% url 'account_login' %}">   
              <input class="btn"  type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{% static "/testingland/js/intro.js" %}"> </script>
    <script src="{% static "/testingland/js/index3.js" %}"> </script>


    {% endblock %}
  </body>

</html>


