`<div id="${venueName}-venue-card" class="card venue-card" data-idtext="${venueName}">
  <div class="card-body" id="${venueName}-cardbody" data-idtext="${venueName}">
  <div class="card-top" id="${venueName}-card-top" data-idtext="${venueName}">
  <i id="card-close-icon" class="card-close bi bi-x"></i>
  <h5 class="card-title" id="${venueName}-card" data-idtext="${venueName}">${venueName}</h5>
    <h6 class="card-subtitle venue-address mb-2 text-muted">${venueAddress}</h6>
    <span class="card-info">
      <i id="${venueName}-like" class="card-icon bi bi-heart-fill default-like" data-idtext="${venueId}"></i>
      <i id="${venueName}-bookmark" class="card-icon bi bi-bookmark-plus-fill default-bookmark" data-idtext="${venueId}"></i>
      <i id="${venueName}-share" class="card-icon bi bi-share-fill default-bookmark default-bookmark" data-idtext="${venueId}"></i> 
   </div>
   <div class="card-image">
   <img id="venue-image" src="">
   </div>
   <div class="mt-1 form-group comment-box">
      <textarea class="form-control" id="comment-textbox" rows="3" placeholder="Add what you like/recommend/think about this place..."></textarea>
      <div class="comment-submit">
        <button id="comment-submit-btn" class="btn">Submit</button>
    </div>
  </div>
   <div class="card-text">
   <div class="venue-paragraph user-comment">
   <span class="user-details">
   <img src="/static/testingland/img/rd.jpeg" alt="Avatar" class="avatar">
      <div class="dropdown">
      <a class="venue-source dropdown-toggle card-subtitle" href="#" role="button" id="dropdownMenuButton1" data-idtext="${source}-adder" data-bs-toggle="dropdown">-${source}</a>
      <ul id="${source}-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item viewVenues" id="viewVenues ${source}" data-idtext="viewVenues-${source}" href="#">View Added Venues</a></li>
        <li><a class="dropdown-item viewLists" id="viewLists ${source}" data-idtext="viewLists-${source}">View Lists</a></li>
        <li><a class="dropdown-item viewLiked" id="viewLiked ${source}" data-idtext="viewLiked-${source}">View Liked Venues</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" id="report ${source}" data-idtext="report-${source}">Report User</a></li>
       </ul>
      </div>
    </span>
    <div class="venue-text">${venueDescription}</div>
         
        </div>
        <div id="venueComments" class="comment-body">
            
        </div>
      </div>
  </div>
</div>