
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <meta charset="utf-8">
  <title>VYGR</title>
  <link rel="icon" type="image/png" href="{% static "testingland/img/favicon_io_vygr/favicon.ico" %}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <!-- icons -->
  <script src="https://kit.fontawesome.com/343a7efeab.js" crossorigin="anonymous"></script>


  <!--Bootsrap-->
  <!--Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!--Bootstrap responsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static "testingland/css/electra.css" %}">

  <link href="https://use.typekit.net/zgs1itb.css" rel="stylesheet">

  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>


</head>

<body>

  <nav class="navbar">
    <a class="navbar-brand page-title" href="/">VYGR</a>
    
    <div class="nav-buttons">
      {% if user.is_authenticated%}
      <a id="username" class="nav-username"> {{ user.get_username }} </a>
      <a class="btn" href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a id="login" class="btn" href="{% url 'login' %}"> Login </a>
      {% endif %}
      {% if user.is_authenticated == False %}
      <a id="signup" class="btn" href="{% url 'signup' %}"> Sign Up </a>
      {% endif %}
      <input id="feedback" class="btn" type="button" value="Feedback" />
    </div>
  </nav>

  <body>
    {% block content %}
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-5 ml-2">
          <input id="search-box" class="searchBar form-control-dark" type="text" placeholder="Search..." aria-label="Search">
          <div class="dropdown">
            <ul id="search-results" class="search-results"></ul>
          </div>
          <input id="search_cafe" class="btn btn-primary mt-3 ml-4 mr-1" type="button" value="Search Cafe" />
          <input id="get_cafe" class="btn btn-primary mt-3 ml-4 mr-1" type="button" value="Random Cafe" />
          <form method="post"> {% csrf_token %}
            <h5 id="cafe-name-div" class="mt-4"></h5>
            <ul class="inputList">
              <li>
                <input id="venue-name-box" class="newVenueAdd form-control-dark " type="text" placeholder="Name..." aria-label="Search">
              </li>
              <li>
                <div class="input-group" style="width: 500px; margin: 10px;">
                  <input id="venue-address-box" type="text" class="form-control" placeholder="Address..." aria-label="Address..." aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button id="geocode" class="btn btn-outline-secondary" type="button">Geocode</button>
                  </div>
                </div>
              </li>
              <li>
                <input id="latitude" class="newVenueAdd form-control-dark" type="text" placeholder="Latitude.." aria-label="Search">  
              </li>
              <li>
                <input id="longitude" class="newVenueAdd form-control-dark" type="text" placeholder="Longitude" aria-label="Search">  
              </li>
              <li>
                <div class="form-group newVenueAdd form-control-dark" placeholder="Venue Type...">
                  <select class="form-control" id="venue-type-box">
                    <option>Cafe</option>
                    <option>Restaurant</option>
                    <option>Bar</option>
                    <option>Bakery</option>
                    <option>Retail</option>
                    <option>Entertainment</opton>
                  </select>
                </div>  
              </li>
              <li>
                  <div class="newVenueAdd input-group">
                    <textarea id="description-box" class="venue-info-form form-control" placeholder="Description..." aria-label="With textarea"></textarea>
                  </div>
                  <input id="create" class="btn btn-primary ml-4 mr-1" type="button" value="Create" />
                  <input id="update" class="btn btn-primary ml-4 mr-1" type="button" value="Update" />
              </li>
            </ul>

          </form>
          
        </div>
      
      <div class="col-lg-4">
        <div id="addMap" class="small-map border"></div>
      </div>
    </div>
      

    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static "/testingland/js/writeDescription.js" %}"> </script>
    {% endblock %}
  </body>

</html>
